@font-face {
  font-family: "iconfont"; /* Project id 3327309 */
  src: url('./font/iconfont.woff2?t=1649896583718') format('woff2'),
       url('./font/iconfont.woff?t=1649896583718') format('woff'),
       url('./font/iconfont.ttf?t=1649896583718') format('truetype');
}
/* *{color: red} */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-long-arrow-down:before {
  content: "\e83e";
}

.icon-long-arrow-up:before {
  content: "\e83f";
}

